.navbar {
  position: fixed;
  /* position: sticky; */
  top: 0;
  z-index: 1001;
  left: 0;
  right: 0;
  /* background-color: #279988 !important; */
}

li.nav-item {
  /*background-color: #f8f9fa;*/
  text-align: center;
  padding: 0 5px;
  /* margin: 0; */
}



li.nav-item {
  padding: 10px 5px;
  margin: -8px 1px;
}

.bg-white {
  background-color: #fff;
}

.bg-green-light {
  background-color: #c0dfda;
}

.bg-green1 {
  background-color: #007681;
}

.bg-green2 {
  background-color: #279989;
}

.bg-green5 {
  background-color: #61b0ae;
}

.text_g1 {
  color: #007681;
}

.text_g2 {
  color: #279989;
}

.text_b {
  color: #005f86;
}

.text_w {
  color: white;
}

.legend {
  margin: 5px -15px 50px -15px;
  border-top: 5px solid #005f86;
  padding-top: 20px;
}

.green1 {
  background-color: #007681;
}

.green2 {
  background-color: #279989;
}

.green3 {
  background-color: #658d1b;
}

.green4 {
  background-color: #abad23;
}

.blue {
  background-color: #005f86;
}

.small_text {
  font-size: 80%;
}

.uppercase {
  text-transform: uppercase;
}

/*@font-face {
    font-family: HelveticaNeueLTPro-BdEx;
    src: url('../fonts/HelveticaNeueLTPro-BdEx.otf');
}

@font-face {
    font-family: HelveticaNeueLTPro-Lt;
    src: url('../fonts/HelveticaNeueLTPro-Lt.otf');
}*/
#status {
  display: none;
}

#status {
  height: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 105;
  background: lightgray;
  padding: 8px 5px 0 10px;
  border-top: 1px solid darkgray;
}

html,
body {
  margin: 0px;
  padding: 0px;
  /*font-family: 'HelveticaNeueLTPro-Lt', 'Trebuchet MS', Arial, sans-serif;*/
  /*font-family: 'Poppins', sans-serif;*/
  /*font-size: 14px;*/
}

/*h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    margin: 0;
    text-shadow: 3px 3px 3px #585757;
}*/
.scroll {
  width: 100%;
  height: 100vh;
  /*overflow: hidden;*/
}

.p-space {
  padding: 100px 0px;
}

.bg-brand {
  background-color: #005f86;
  color: #ffffff;
}

.cargill_border_box {
  border: 2px solid #005f86;
  padding: 30px;
  border-radius: 0 20px;
}

.hide {
  display: none;
}

.preload {
  width: 100%;
  height: 100vh;
  position: relative;
  left: 0;
  right: 0;
  /* bottom: 0; */
  /* top: 0; */
  z-index: 1;
  background-color: #fff;
}

.preload .logo img {
  right: calc(50% - 150px);
  top: calc(50% - 75px);
  width: 300px;
  position: absolute;
  /*transition: all 1s ease;*/
}

.preload .logo img.goTopRight {
  right: 10px;
  top: 10px;
  width: 150px;
}

.preload .load_text {
  text-align: center;
  right: calc(50% - 150px);
  width: 300px;
  position: absolute;
  top: calc(50% + 75px);
}

header {
  background: #fff;
  padding: 10px;
}

.space-100 {
  height: 100px;
}

.space-50 {
  height: 50px;
}

.space-30 {
  height: 30px;
}

.space-70 {
  height: 70px;
}

.nav-height {
  height: 80px;
}

#navbar {
  /*background-color: #ddd !important;*/
  /*border-bottom: 2px solid #005f86;*/
}

.navbar {
  position: fixed;
  /* position: sticky; */
  top: 0;
  z-index: 1001;
  left: 0;
  right: 0;
  /* background-color: #279988 !important; */
  /* -webkit-box-shadow: 0 0 5px 5px #00000054; */
          /* box-shadow: 0 0 5px 5px #00000054; */
}
.navbar a{
  color: #333;
}
#menu{
  transition: background-color 0.5s ease;
}
#menu.active{
  background-color: #333 !important; 
  -webkit-box-shadow: 0 0 5px 5px #00000054; 
          box-shadow: 0 0 5px 5px #00000054; 
  color: #fff;
}
#menu.active a{
  color: #fff;
}

#menu .nav-item.active a, #menu .nav-item:hover a{
  color: #005f86;
}

#menu.active .nav-item.active a, #menu.active .nav-item:hover a{
  color: #279989;
}
#logo{
  height: 42px;
}
li.nav-item:hover, li.nav-item.active {
  /* background-color: #005f86; */
  color: #005f86;
}
.fixed_menu {
  position: fixed;
  top: 0;
  bottom: auto;
  background-color: #ddd !important;
  -webkit-box-shadow: 0 5px 5px 5px #00000045;
          box-shadow: 0 5px 5px 5px #00000045;
}

li.nav-item {
  text-align: center;
  padding: 0 5px;
}

.fixed-nav {
  background-color: #005f86;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 4px 2px #313131aa;
          box-shadow: 0 5px 4px 2px #313131aa;
  position: fixed;
  left: 0;
  right: 0;
  /* height: 60px; */
  z-index: 1;
}

li.nav-item {
  padding: 10px 5px;
  margin: -8px 1px;
  /* background-color: #005f86; */
}

ul.navbar-nav {
  padding: 0px;
  margin: 0px;
}

li.nav-item:hover,
li.nav-item.active {
  /* background-color: #005f86; */
}

li.nav-item:hover a,
li.nav-item.active a {
  /*color: #fff !important;*/
}

.top_banner {
  width: 100%;
  /* background-image: url("../images/GHRS_playbook_banner_source_file.png"); */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  height: 100vh;
  position: relative;
  z-index: 100;
}

.top_banner h1 {
  font-size: 56px;
}

.bg-bottom {
  background-color: rgba(0, 96, 134, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 120px;
}

.ghrs_text_shadow {
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
  font-weight: bold;
}

.play_text_shadow {
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
  font-size: 45px;
}

.padding_tb {
  padding: 150px 0;
}

.text-brand {
  color: #005F86;
}

.h-100 {
  height: 100%;
}

.intro {
  background-image: url("../images/2.png");
  background-position: right center;
  background-size: cover;
}

.circle li {
  list-style-type: circle;
}

.intro_img {
  position: relative;
  background-image: url("../images/2.png");
  width: 100%;
}

.bg-brand {
  color: #fff;
  background-color: #005F86;
}

.bg-grey {
  background-color: #eeeeee;
}

.full-width {
  width: 100%;
}

.intro-background {
  position: relative;
  background-color: #fff;
  height: 850px;
  color: #005F86;
  width: 100%;
}

.intro_typical {
  font-size: 20px;
  margin-top: 2rem;
  font-weight: 500;
}

.intro {
  background-color: #005F86;
  height: 852px;
  width: 100%;
}

.intro_partnering {
  background-color: #005F86;
  margin-left: 1%;
  margin-right: 1%;
  height: 780px;
  position: relative;
}

.intro_partnering_header {
  color: #FFFFFF;
  margin-left: 10%;
}

.intro_business {
  background-color: #FFFFFF;
}

.project_team {
  background-image: url("../images/project_bg.jpg");
  background-position: right center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #bcbcbc;
}

.cargill_box {
  position: relative;
  margin: 20px 0;
  text-align: center;
  border-radius: 0 20px 0 20px;
  min-height: 100px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding: 20px;
}

.col-gp-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.domain_btn {
  cursor: pointer;
  padding: 15px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 1px 0;
  border: 1px solid #005f86;
}

.domain_btn.active, .domain_btn:hover {
  background-color: #fff;
  color: #005f86 !important;
}

.d_heading {
  text-align: center;
  font-size: 2.5rem;
}

.button {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  min-height: 70px;
}

.close-padding {
  padding: 0px 1px;
}

.table_layout {
  padding: 10px;
}

.padding-1 {
  padding-top: 2px;
}

.button:hover {
  background-color: #FFFFFF;
  color: #005F86;
}

.border-lr {
  padding: 0 30px;
  border-right: 1px solid #005F86;
  border-left: 1px solid #005F86;
  border-width: 3px;
}

.clickable {
  cursor: pointer;
  text-align: center;
}

.clickable img {
  width: 100%;
}

.clickable h4 {
  margin-top: 30px;
  min-height: 80px;
}

.relative {
  position: relative;
}

.popup {
  width: 100%;
}

.popup_panel {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 450px;
  z-index: 1;
}

.card {
  /*cursor: pointer;*/
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card.shadow-lg:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-outline-brand {
  color: #005F86;
  border-color: #005F86;
}

.btn-outline-brand:hover {
  color: #fff;
  background-color: #005F86;
  border-color: #005F86;
}

.tab .tab-body {
  min-height: 230px;
}

.tab-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-head .item {
  border: 2px solid #eee;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tab-head .item:hover {
  border-color: #005F86;
}

.tab-head .item.active {
  border-color: #005F86;
  border-width: 2px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.tab-body {
  border: 2px solid #005f86;
  background-color: #005f86;
  color: #fff;
  padding: 20px;
  margin-top: 5px;
  margin-right: 20px;
  border-radius: 0 0 10px 10px;
}

.green_tab .tab-head .item:hover {
  border-color: #279989;
}

.green_tab .tab-head .item.active {
  border-color: #279989;
}

.green_tab .tab-body {
  border: 2px solid #279989;
  background-color: #279989;
}

.img_org {
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: 0 -15px;
}

.img1 {
  background-image: url("../images/img1.jpg");
}

.img2 {
  background-image: url("../images/img2.jpg");
}

.img3 {
  background-image: url("../images/img3.jpg");
}

.img4 {
  background-image: url("../images/img4.jpg");
}

.img5 {
  background-image: url("../images/img5.jpg");
}

.img6 {
  background-image: url("../images/img6.jpg");
}

.cargill_white_box {
  text-align: center;
  background-color: #fff;
  color: #005f86;
  font-size: 3rem;
  padding: 10px 20px;
  border-radius: 0 15px 0 15px;
}

.cargill_brand_box {
  color: #fff;
  background-color: #005f86;
}

.process {
  max-width: 600px;
  margin: 50px auto;
  /*cursor: pointer;*/
}



/* custom css start*/
#introduction
{
  margin-top: -50px;
}
#down_arrow
{
  align-items: center;
}

.grid-container {
  display: grid;
  margin-top:100px;
  margin-bottom:50px;
}

.item1 {
  grid-column: 1 ;
  grid-row: 1 / span 2;
}

.item2 {
  grid-column: 2;
  grid-row: 1 ;
 
}

.item3
{
	grid-column: 3;
    grid-row: 1 / span 2;
}

.item4 {
  grid-column: 2;
  grid-row: 2 ;
  margin-bottom: 62px;
}

.item5 {
  grid-column: 1;
  grid-row: 3;
}
.item6 {
  grid-column: 2 / span 4;
  grid-row: 3;
}
.item7
{
  grid-column: 4/6;
  grid-row: 3;
}

.item3 img
{
  margin-left: 35px ;
  max-width: calc(100% - 35px);
}

/* .item6 img
{
  margin-top: 25px;
  margin-left: -233px; */
/* } */

.box4
{
  background:#be531c;
  width: 150px;
  height: 150px;
  border-radius: 25px 0px 25px 0px;
  /* margin-left: 20px; */
  /* margin-top: 20px; */
}

.box5
{
  background:#daaa00;
  width: 222px;
  height: 128px;
  border-radius: 0px 25px 0px 25px;
  /* margin-top: 25px; */
}
/* custom css end */





@media only screen and (max-width: 992px) {
  .popup {
    width: 100%;
    background-color: #00000099;
    position: absolute;
    left: 0;
    height: 100%;
  }
  .popup_panel {
    left: 50%;
    top: auto;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.process_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small_arrow {
  margin-left: 5px;
  margin-right: -20px;
  width: 20px;
  height: 36px;
  background-image: url("../images/arrow_1.png");
  position: relative;
  z-index: 1;
}

.small_arrow.visited {
  background-image: url("../images/arrow_1_s.png");
}

.small_arrow.visited_b {
  background-image: url("../images/arrow_1.png");
}

.small_arrow.active {
  background-image: url("../images/arrow_1_a.png");
}

.animate-side {
  -webkit-animation: mover-side 0.3s infinite alternate;
          animation: mover-side 0.3s infinite alternate;
}

@-webkit-keyframes mover-side {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes mover-side {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

.medium_arrow {
  margin-left: 5px;
  margin-right: -25px;
  width: 27px;
  height: 49px;
  background-image: url("../images/arrow_3.png");
}

.medium_arrow.disabled, .medium_arrow.visited {
  background-image: url("../images/arrow_3_s.png");
}

.medium_arrow.active {
  background-image: url("../images/arrow_3_a.png");
}

.normal_arrow {
  width: 160px;
  height: 53px;
  background-image: url("../images/arrow_2.png");
}

.normal_arrow.disabled, .normal_arrow.visited {
  background-image: url("../images/arrow_2_s.png");
}

.normal_arrow.active {
  background-image: url("../images/arrow_2_a.png");
}

.underline {
  text-decoration: underline;
}

.last_arrow {
  width: 136px;
  height: 53px;
  background-image: url("../images/arrow_4.png");
}

.last_arrow.disabled, .last_arrow.visited {
  background-image: url("../images/arrow_4_s.png");
}

.last_arrow.active {
  background-image: url("../images/arrow_4_a.png");
}

.p_arrow {
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  padding-top: 7px;
  cursor: pointer;
}

.p_arrow.disabled {
  cursor: auto;
}

.process_desc {
  display: block;
  padding: 20px;
  border-radius: 0 20px;
  background-color: #279989;
}

.min-w-200 {
  min-height: 200px;
}

.min-w-300 {
  min-height: 300px;
}

.instr {
  color: #007681;
  font-style: italic;
}

.process_line {
  margin-left: 2px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.process_line .process_bar {
  border-bottom: 10px solid #007681;
  min-width: 13%;
}

.process_line .process_bar.bar2 {
  min-width: 30%;
}

.process_line .process_bar.bar4 {
  min-width: 13%;
}

.process_line .process_bar .txt {
  margin-bottom: -5px;
  font-size: 1.5rem;
}

.process_line .process_bar.b-green2 {
  border-color: #279989;
}

.process_line .process_dotted {
  border-bottom: 2px dotted #279989;
  min-width: 32px;
  margin-bottom: 4px;
}

.clickable {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.clickable:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

img#down_arrow {
  -webkit-animation: mover 0.7s infinite alternate;
          animation: mover 0.7s infinite alternate;
          margin-left: 35px;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

.arrow_nav {
  position: fixed;
  right: 10px;
  bottom: 50%;
  z-index: 101;
}

.arrow_nav .item {
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.388235);
  padding: 10px;
  cursor: pointer;
}

.arrow_nav .item:hover {
  background-color: #279989;
}

.cargill_panel {
  border-radius: 0 15px;
}

p.indro {
  /* top: -37%; */
  margin-left: 35px;
  margin-top: -25px;
}

.heading {
  /*text-decoration: underline;*/
}

.assess {
  border-color: white;
}

.assess:hover {
  color: #005f86 !important;
  background-color: #fff;
}

ul.square_bullet {
  list-style-image: url("../images/bullet.png");
}

ul.square_bullet li {
  padding-left: 10px;
  padding-top: 5px;
}

.square_box {
  margin: 5px 10px;
  width: 15px;
  height: 15px;
}

.talent {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border: 5px solid #357f9c;
}

#talent_1, #talent_2, #talent_3, #talent_4 {
  width: auto;
  position: absolute;
  top: 20px;
  right: 4%;
}

#talent_1 {
  top: 55%;
  left: 1.7%;
}

#talent_3 {
  top: 10px;
  left: 16%;
}

#talent_3 {
  top: 10px;
  left: 16%;
}

#talent_4 {
  top: 2%;
  left: 10%;
}

.dropdown-item.active, .dropdown-item:active {
  /* background-color: #005f86; */
  background-color: transparent;
}

.lf-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lf-right .diagnosis {
  padding: 5px 20px;
  background-image: url("../images/arrow_5.png");
  cursor: default;
}
/*# sourceMappingURL=playbook.css.map */

.grid-title{
  border-radius: 30px 0 30px 0;
  background-color: #658d1b;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.grid-title  .hr{
    font-size: 68px;
    font-weight: bolder;
    line-height: 68px;
    color: rgba(255,255,255, 0.5);
    
}

.grid-title  .name{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.grid-title  .playbook{
  font-size: 24px;
  line-height: 24px;
  color: rgba(255,255,255, 0.7);
}

.flex{
  display: flex;
}
 .flex-1{
  flex:1;
}

.flex .fcenter{
  justify-content: center;
  align-items: center;
}

.container1{
  max-width: 1140px;
  margin: 0 auto;
}

.grid-item{
  border-radius: 30px 0 30px 0;
}
.grid-container{
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.grid-item img.img-fluid {
  /* border-radius: 30px 0 30px 0; */
}

.grid-item.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  /* flex-wrap: wrap; */
  
}
.item1, .item2, .item6{
  overflow: hidden;
  width: 100%;
  border-radius: 30px 0 30px 0;
}
.item6{
  width: 491px;
}
.img_panel{
  width: 200%;
  display: flex;
  flex-grow: 1;
}
.img_panel .img img{
  width: 100%;
}
.grid-item.item2 {
  grid-column-start: 3;
  grid-column-end: 3;
}

.grid-item.item3 {
  grid-column-start: 4;
  grid-column-end: 6;
}
.grid-item.item4.box4 {
  grid-column-start: 3;
}