<div class="process_bar mb-2">
        <div><img src="images/phases.jpg" alt=""></div>
        <div class="p_arrow small_arrow"  ng-class="{'active' : active!=1}" onclick="window.location = 'assess.html';"></div>
        <div class="p_arrow normal_arrow"  ng-class="{'active' : active!=1}" onclick="window.location = 'assess.html';">Assess</div>

        <div class="p_arrow medium_arrow"  ng-class="{'active' : active!=2}" onclick="window.location = 'analyze.html';"></div>
        <div class="p_arrow normal_arrow"  ng-class="{'active' : active!=2}" onclick="window.location = 'analyze.html';">Analyze</div>

        <div class="p_arrow medium_arrow"  ng-class="{'active' : active!=3}" onclick="window.location = 'design.html';"></div>
        <div class="p_arrow normal_arrow"  ng-class="{'active' : active!=3}" onclick="window.location = 'design.html';">Design</div>

        <div class="p_arrow small_arrow " ng-class="{'active' : active!=4}" onclick="window.location = 'plan.html';"></div>
        <div class="p_arrow normal_arrow " ng-class="{'active' : active!=4}" onclick="window.location = 'plan.html';">Plan</div>

        <div class="p_arrow small_arrow"  ng-class="{'active' : active!=5}" onclick="window.location='implement.html'"></div>
        <div class="p_arrow normal_arrow"  ng-class="{'active' : active!=5}" onclick="window.location='implement.html'">Implement</div>

        <div class="p_arrow medium_arrow"  ng-class="{'active' : active!=6}" onclick="window.location='sustain.html'"></div>
        <div class="p_arrow last_arrow"  ng-class="{'active' : active!=6}" onclick="window.location='sustain.html'">Sustain</div>

    </div>