<div ng-if="animate == 'true'" class="process_line mt-3 ">

    <div data-aos="fade-left" data-aos-once="true">
        <img src="images/cargill_pdp.jpg" alt="">
    </div>
    <div data-aos="fade-left" data-aos-once="true" class="process_bar uppercase text_g2"><span class="txt">Explore
            </spanKey>
    </div>
    <div data-aos="fade-left" data-aos-delay="{{1 * 250}}" data-aos-once="true" class="process_dotted"></div>
    <div data-aos="fade-left" data-aos-delay="{{2 * 250}}" data-aos-once="true"
        class="process_bar bar2 uppercase text_g2 b-green2"><span class="txt"> Develop</span>
    </div>
    <div data-aos="fade-left" data-aos-delay="{{3 * 250}}" data-aos-once="true" class="process_dotted"></div>
    <div data-aos="fade-left" data-aos-delay="{{4 * 250}}" data-aos-once="true" class="process_bar uppercase text_g2">
        <span class="txt">Plan</span></div>
    <div data-aos="fade-left" data-aos-delay="{{5 * 250}}" data-aos-once="true" class="process_dotted"></div>
    <div data-aos="fade-left" data-aos-delay="{{6 * 250}}" data-aos-once="true" class="process_bar  uppercase text_g2">
        <span class="txt">Implement</span>
    </div>
    <div data-aos="fade-left" data-aos-delay="{{7 * 250}}" data-aos-once="true" class="process_dotted"></div>
    <div data-aos="fade-left" data-aos-delay="{{8 * 250}}" data-aos-once="true" class="process_bar  uppercase text_g2">
        <span class="txt">Measure</span>
    </div>
</div>

<div ng-if="animate != 'true'" class="process_line mt-3 ">

    <div><img src="images/cargill_pdp.jpg" alt=""></div>
    <div class="process_bar uppercase text_g2"><span class="txt">Explore</spanKey></div>
    <div class="process_dotted"></div>
    <div class="process_bar bar2 uppercase text_g2 b-green2"><span class="txt"> Develop</span></div>
    <div class="process_dotted"></div>
    <div class="process_bar uppercase text_g2"><span class="txt">Plan</span></div>
    <div class="process_dotted"></div>
    <div class="process_bar  uppercase text_g2"><span class="txt">Implement</span></div>
    <div class="process_dotted"></div>
    <div class="process_bar  uppercase text_g2"><span class="txt">Measure</span></div>
</div>